# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
*.swp

# Optional: SQLite or other DB files
*.sqlite
*.db
*.sqlite3
